.img {
    color: black;
    position: absolute;
    top: 100%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img1 {
    color: black;
    position: absolute;
    top: 93%;
    left: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img2 {
    color: black;
    position: absolute;
    top: 93%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img3 {
    color: black;
    position: absolute;
    top: 93%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img4 {
    color: black;
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img5 {
    color: black;
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img6 {
    color: black;
    position: absolute;
    top: 105%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}